body {
    background-color: rgb(195, 235, 255);
    font-family: 'Open Sans', sans-serif;
    font-size: 1.2em;
}

form {
    background-color: white;
    border-radius: 1em;
    margin: 0 auto; 
    max-width: 900px;
    padding-top: 25px;
    padding-bottom: 25px;
    width: 70%;
    padding: 1em;



}

h1 {
    font-size: 1.5em;
    text-align: center;
}

fieldset {
    border: 1px solid lightgrey;
    margin: 10px;

}

legend{
    font-weight: 700;
}

input, textarea {
    border: 1px solid lightgrey;
}


input:focus, textarea:focus {
    background-color: aliceblue;
    border-color: antiquewhite;
}

input:hover, textarea:hover {
    background-color: aliceblue;
    border-color: solid rgb(215, 234, 250);
}

textarea{
    vertical-align: top;
    height: 5em;
    resize: vertical;
    overflow: auto;
}

.button {
    justify-content: center;
    padding: 10px;
    font-family: 'Open Sans', sans-serif;
    font-weight: bolder;
    text-transform: capitalize;
    border-radius: 10px;
    text-align: center;
    border: none;
    padding: 1em;
    font-size: 1em;
    width: 10em;
    


}

#submit:hover {
    background-color: rgb(202, 230, 255);
}

.nb {
    font-size: .8em;
    font-style: italic;
    color: #999999;
    padding-top: 0;
    margin-top: 0;
    margin-bottom: .7em;
    font-weight: bold;
}

#kenapa {
    height: 10em;
}

.deskjob {
    line-height: 1.2em;
}

#email {
    width: 20em;
}

